.venv
.venv/
data/
data/**
models/
models/**
notebooks/
notebooks/**
.pytest_cache
.pytest_cache/
__pycache__
__pycache__/
*.pyc
*.pyo
.git
.git/
.vscode
.vscode/
*.md
!requirements.txt
Dockerfile
docker-compose.yml
docker-compose.app.yml
docker-compose.frigate.yml
.dockerignore
bridge/
frigate/
scripts/
